/node_modules
/public/hot
/composer.lock
/public/storage
/public/methods
/public/health_and_safety
/public/paymentProof
/public/fileUploadsInWeekstaat
/public/js/app.js
#/public/.htaccess
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
#index.php
server.php
.htaccess
/public/staffing_company/personnel/
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
